.btn-primary,
.btn-success,
.btn-danger,
.btn-secondary {
  color: #fff !important;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline .form-check {
  width: 100%;
}

.navbar {
  padding: 0.5rem 0.5rem;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.kv-panel-before {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.preloader {
  opacity: 0.8;
  background-color: #131313;
}

.preloader5 {
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
}

.preloader5 .circle-5 {
  display: inline-block;
  padding: 11px;
  margin: 0 0.6em;
  background: #fff;
  border-radius: 100%;
}

.preloader5 .l {
  -webkit-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
}

.preloader5 .m {
  -webkit-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader5 .r {
  -webkit-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  70% {
    transform: scale(1.7);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(1.7);
  }
  70% {
    transform: scale(1.7);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.theme-loader {
  height: 100%;
  width: 100%;
  background-color: #131313;
  position: fixed;
  z-index: 999999;
  top: 0;
}

.theme_loader_applymodal {
  height: 100%;
  width: 100%;
  background-color: #131313;
  position: absolute;
  z-index: 5;
  top: 0;
  opacity: 0.7;
  left: 0px;
  border-radius: 4px;
}

.theme_loader_div {
  height: 100%;
  width: 100%;
  background-color: #131313;
  position: absolute;
  z-index: 5;
  top: 0;
  opacity: 0.7;
  left: 0px;
  border-radius: 0px 0px 4px 4px;
}

.theme_loader_fix {
  height: 100%;
  width: 100%;
  background-color: #131313;
  position: fixed;
  z-index: 1060;
  top: 0;
  opacity: 0.7;
  left: 0px;
  border-radius: 0px 0px 4px 4px;
}

#modalContent {
  min-height: 100px;
}

.kv-grid-loading {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}

.kv-grid-loading .kv-loader-overlay {
  display: block;
}

.kv-loader-overlay {
  background: transparent;
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.kv-grid-loading .card,
.kv-grid-loading .table {
  background: transparent;
  opacity: 0.6;
}

.kv-loader {
  position: absolute;
  background: #fff url(/images/loading.gif?60b8b112d26390fbea0346650025a9f1) center center no-repeat !important;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
}

.kv-panel-after {
  padding: 10px;
  border-top: 1px solid #ddd;
}

.kv-panel-pager {
  height: 34px;
}

.card .kv-grid-table {
  margin: 0;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3NzL3N0eWxlcy5jc3MiLCJtYXBwaW5ncyI6IkFBa0JBOzs7O0VBSUk7QUFqQko7O0FBMEJBO0VBRUk7RUFFQTtFQUVBO0FBdkJKOztBQTBCQTtFQUNJO0FBdkJKOztBQTBCQTtFQUNJO0FBdkJKOztBQTBCQTtFQUNJO0VBQ0E7QUF2Qko7O0FBMEJBO0VBQ0k7RUFDQTtBQXZCSjs7QUEwQkE7RUFDSTtFQUNBO0VBQ0E7QUF2Qko7O0FBMEJBO0VBQ0k7RUFDQTtBQXZCSjs7QUEwQkE7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0FBdkJKOztBQTBCQTtFQUNJO0VBQ0E7RUFDQTtFQUNBLGdCQWpGUztFQWtGVDtBQXZCSjs7QUEwQkE7RUFDSTtFQUNBO0FBdkJKOztBQTBCQTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0FBdkJKOztBQTBCQTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0FBdkJKOztBQTBCQTtFQUNJO0lBRUk7RUF2Qk47RUF5QkU7SUFFSTtFQXZCTjtFQXlCRTtJQUVJO0VBdkJOO0VBeUJFO0lBRUk7RUF2Qk47RUF5QkU7SUFFSTtFQXZCTjtFQXlCRTtJQUVJO0VBdkJOO0VBeUJFO0lBRUk7RUF2Qk47RUF5QkU7SUFFSTtFQXZCTjtBQUNGO0FBMEJBO0VBQ0k7SUFFSTtFQXhCTjtFQTBCRTtJQUVJO0VBeEJOO0VBMEJFO0lBRUk7RUF4Qk47RUEwQkU7SUFFSTtFQXhCTjtFQTBCRTtJQUVJO0VBeEJOO0VBMEJFO0lBRUk7RUF4Qk47RUEwQkU7SUFFSTtFQXhCTjtFQTBCRTtJQUVJO0VBeEJOO0FBQ0Y7QUEyQkE7RUFDSTtFQUNBO0VBQ0EseUJBeEtRO0VBeUtSO0VBQ0E7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtFQUNBO0VBQ0EseUJBakxRO0VBa0xSO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtFQUNBO0VBQ0EseUJBN0xRO0VBOExSO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtFQUNBO0VBQ0EseUJBek1RO0VBME1SO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtBQXpCSjs7QUE0QkE7RUFDSTtFQUNBO0VBQ0E7QUF6Qko7O0FBNEJBO0VBQ0k7QUF6Qko7O0FBNEJBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQXpCSjs7QUE0QkE7O0VBRUk7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUF6Qko7O0FBNEJBO0VBQ0k7RUFDQTtBQXpCSjs7QUE0QkE7RUFDSTtBQXpCSjs7QUE0QkE7RUFDSTtBQXpCSixDIiwic291cmNlcyI6WyJ3ZWJwYWNrOi8vbXktd2VicGFjay1wcm9qZWN0Ly4vcmVzb3VyY2VzL3Nhc3Mvc3R5bGVzLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiJHdoaXRlQ29sb3I6ICNmZmY7XG4kYmxhY2tDb2xvcjogIzAwMDtcbiRwcmltYXJ5Q29sb3I6ICMxMjY2ZjE7XG4kc2Vjb25kYXJ5Q29sb3I6ICNiMjNjZmQ7XG4kc3VjY2Vzc0NvbG9yOiAjMDA5MTNiO1xuJGRhbmdlckNvbG9yOiAjZjgwYzM1O1xuJHdhcm5pbmdDb2xvcjogI2Q5OTAwMDtcbiRpbmZvQ29sb3I6ICMxNmI1ZWE7XG4kbGlnaHRDb2xvcjogI2U4ZThlODtcbiRkYXJrQ29sb3I6ICMxMzEzMTM7XG4kYm9yZGVyUHJpbWFyeUNvbG9yOiAjMGU1MmMxO1xuJGJvcmRlclNlY29uZGFyeUNvbG9yOiAjYmE1MGZkO1xuJGJvcmRlclN1Y2Nlc3NDb2xvcjogIzFhYmU1YztcbiRib3JkZXJEYW5nZXJDb2xvcjogI2ZhNDY2NTtcbiRib3JkZXJXYXJuaW5nQ29sb3I6ICNmZmIyMWE7XG4kYm9yZGVySW5mb0NvbG9yOiAjNGRjNmVmO1xuJGJvcmRlckxpZ2h0Q29sb3I6ICNmYmZiZmI7XG4kYm9yZGVyRGFya0NvbG9yOiAjMWUxZTFlO1xuLmJ0bi1wcmltYXJ5LFxuLmJ0bi1zdWNjZXNzLFxuLmJ0bi1kYW5nZXIsXG4uYnRuLXNlY29uZGFyeSB7XG4gICAgY29sb3I6ICR3aGl0ZUNvbG9yICFpbXBvcnRhbnQ7XG59XG5cbi8vIGJvZHl7XG4vLyAgICAgYmFja2dyb3VuZC1jb2xvcjogJGRhcmtDb2xvcjtcbi8vIH1cbi8vIC5idG4uYnRuLXByaW1hcnl7XG4vLyAgICAgYmFja2dyb3VuZC1jb2xvcjogJHByaW1hcnlDb2xvcjtcbi8vIH1cbi5mb3JtLWlubGluZSB7XG4gICAgZGlzcGxheTogLW1zLWZsZXhib3g7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICAtbXMtZmxleC1mbG93OiByb3cgd3JhcDtcbiAgICBmbGV4LWZsb3c6IHJvdyB3cmFwO1xuICAgIC1tcy1mbGV4LWFsaWduOiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbn1cblxuLmZvcm0taW5saW5lIC5mb3JtLWNoZWNrIHtcbiAgICB3aWR0aDogMTAwJTtcbn1cblxuLm5hdmJhciB7XG4gICAgcGFkZGluZzogMC41cmVtIDAuNXJlbTtcbn1cblxuLm5hdmJhci1leHBhbmQgLm5hdmJhci1uYXYgLm5hdi1saW5rIHtcbiAgICBwYWRkaW5nLXJpZ2h0OiAxcmVtO1xuICAgIHBhZGRpbmctbGVmdDogMXJlbTtcbn1cblxuLmt2LXBhbmVsLWJlZm9yZSB7XG4gICAgcGFkZGluZzogMTBweDtcbiAgICBib3JkZXItYm90dG9tOiAxcHggc29saWQgI2RkZDtcbn1cblxuLmJ0bi10b29sYmFyIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtd3JhcDogd3JhcDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGZsZXgtc3RhcnQ7XG59XG5cbi5wcmVsb2FkZXIge1xuICAgIG9wYWNpdHk6IDAuODtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMTMxMzEzO1xufVxuXG4ucHJlbG9hZGVyNSB7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGxlZnQ6IDA7XG4gICAgcmlnaHQ6IDA7XG4gICAgdG9wOiA1MCU7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xufVxuXG4ucHJlbG9hZGVyNSAuY2lyY2xlLTUge1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICBwYWRkaW5nOiAxMXB4O1xuICAgIG1hcmdpbjogMCAwLjZlbTtcbiAgICBiYWNrZ3JvdW5kOiAkd2hpdGVDb2xvcjtcbiAgICBib3JkZXItcmFkaXVzOiAxMDAlO1xufVxuXG4ucHJlbG9hZGVyNSAubCB7XG4gICAgLXdlYmtpdC1hbmltYXRpb246IHB1bHNlIDFzIGluZmluaXRlIGxpbmVhcjtcbiAgICBhbmltYXRpb246IHB1bHNlIDFzIGluZmluaXRlIGxpbmVhcjtcbn1cblxuLnByZWxvYWRlcjUgLm0ge1xuICAgIC13ZWJraXQtYW5pbWF0aW9uOiBwdWxzZSAxcyBpbmZpbml0ZSBsaW5lYXI7XG4gICAgYW5pbWF0aW9uOiBwdWxzZSAxcyBpbmZpbml0ZSBsaW5lYXI7XG4gICAgLXdlYmtpdC1hbmltYXRpb24tZGVsYXk6IDAuMnM7XG4gICAgYW5pbWF0aW9uLWRlbGF5OiAwLjJzO1xufVxuXG4ucHJlbG9hZGVyNSAuciB7XG4gICAgLXdlYmtpdC1hbmltYXRpb246IHB1bHNlIDFzIGluZmluaXRlIGxpbmVhcjtcbiAgICBhbmltYXRpb246IHB1bHNlIDFzIGluZmluaXRlIGxpbmVhcjtcbiAgICAtd2Via2l0LWFuaW1hdGlvbi1kZWxheTogMC40cztcbiAgICBhbmltYXRpb24tZGVsYXk6IDAuNHM7XG59XG5cbkAtd2Via2l0LWtleWZyYW1lcyBwdWxzZSB7XG4gICAgMTAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbiAgICAyMCUge1xuICAgICAgICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gICAgICAgIHRyYW5zZm9ybTogc2NhbGUoMSk7XG4gICAgfVxuICAgIDMwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDUwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDcwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDgwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgICAgICAgdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgICB9XG4gICAgOTAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbiAgICAxMDAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbn1cblxuQGtleWZyYW1lcyBwdWxzZSB7XG4gICAgMTAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbiAgICAyMCUge1xuICAgICAgICAtd2Via2l0LXRyYW5zZm9ybTogc2NhbGUoMSk7XG4gICAgICAgIHRyYW5zZm9ybTogc2NhbGUoMSk7XG4gICAgfVxuICAgIDMwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDUwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDcwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxLjcpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuNyk7XG4gICAgfVxuICAgIDgwJSB7XG4gICAgICAgIC13ZWJraXQtdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgICAgICAgdHJhbnNmb3JtOiBzY2FsZSgxKTtcbiAgICB9XG4gICAgOTAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbiAgICAxMDAlIHtcbiAgICAgICAgLXdlYmtpdC10cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgICAgICB0cmFuc2Zvcm06IHNjYWxlKDEpO1xuICAgIH1cbn1cblxuLnRoZW1lLWxvYWRlciB7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRkYXJrQ29sb3I7XG4gICAgcG9zaXRpb246IGZpeGVkO1xuICAgIHotaW5kZXg6IDk5OTk5OTtcbiAgICB0b3A6IDA7XG59XG5cbi50aGVtZV9sb2FkZXJfYXBwbHltb2RhbCB7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRkYXJrQ29sb3I7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHotaW5kZXg6IDU7XG4gICAgdG9wOiAwO1xuICAgIG9wYWNpdHk6IDAuNztcbiAgICBsZWZ0OiAwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogNHB4O1xufVxuXG4udGhlbWVfbG9hZGVyX2RpdiB7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRkYXJrQ29sb3I7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHotaW5kZXg6IDU7XG4gICAgdG9wOiAwO1xuICAgIG9wYWNpdHk6IDAuNztcbiAgICBsZWZ0OiAwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogMHB4IDBweCA0cHggNHB4O1xufVxuXG4udGhlbWVfbG9hZGVyX2ZpeCB7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGJhY2tncm91bmQtY29sb3I6ICRkYXJrQ29sb3I7XG4gICAgcG9zaXRpb246IGZpeGVkO1xuICAgIHotaW5kZXg6IDEwNjA7XG4gICAgdG9wOiAwO1xuICAgIG9wYWNpdHk6IDAuNztcbiAgICBsZWZ0OiAwcHg7XG4gICAgYm9yZGVyLXJhZGl1czogMHB4IDBweCA0cHggNHB4O1xufVxuXG4jbW9kYWxDb250ZW50IHtcbiAgICBtaW4taGVpZ2h0OiAxMDBweDtcbn1cblxuLmt2LWdyaWQtbG9hZGluZyB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgbWF4LWhlaWdodDogMTAwJTtcbn1cblxuLmt2LWdyaWQtbG9hZGluZyAua3YtbG9hZGVyLW92ZXJsYXkge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xufVxuXG4ua3YtbG9hZGVyLW92ZXJsYXkge1xuICAgIGJhY2tncm91bmQ6IHRyYW5zcGFyZW50O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBvcGFjaXR5OiAwLjY7XG4gICAgdG9wOiAwO1xuICAgIGxlZnQ6IDA7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGRpc3BsYXk6IG5vbmU7XG59XG5cbi5rdi1ncmlkLWxvYWRpbmcgLmNhcmQsXG4ua3YtZ3JpZC1sb2FkaW5nIC50YWJsZSB7XG4gICAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7XG4gICAgb3BhY2l0eTogMC42O1xufVxuXG4ua3YtbG9hZGVyIHtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgYmFja2dyb3VuZDogI2ZmZiB1cmwoXCIuLi8uLi9wdWJsaWMvaW1nL2xvYWRpbmcuZ2lmXCIpIGNlbnRlciBjZW50ZXIgbm8tcmVwZWF0ICFpbXBvcnRhbnQ7XG4gICAgd2lkdGg6IDEwMHB4O1xuICAgIGhlaWdodDogMTAwcHg7XG4gICAgdG9wOiA1MCU7XG4gICAgbGVmdDogNTAlO1xufVxuXG4ua3YtcGFuZWwtYWZ0ZXIge1xuICAgIHBhZGRpbmc6IDEwcHg7XG4gICAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICNkZGQ7XG59XG5cbi5rdi1wYW5lbC1wYWdlciB7XG4gICAgaGVpZ2h0OiAzNHB4O1xufVxuXG4uY2FyZCAua3YtZ3JpZC10YWJsZSB7XG4gICAgbWFyZ2luOiAwO1xufSJdLCJuYW1lcyI6W10sInNvdXJjZVJvb3QiOiIifQ==*/